/* TEAMDECK */

.view-teamdeck{
  .view-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .views-row{
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    //background: #e0ddd5;
    //padding: 10px;
    margin: 0px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 2px $sg-grey-lighter;
    border:1px solid $sg-grey-lighter;
    padding: 2px;
  }

  @include small-breakpoint {
    .views-row{
      flex: 1 0 calc(50% - 10px);
      box-sizing: border-box;
      //background: #e0ddd5;
      margin: 5px;
      //max-width: 250px;
    }
    p{
      font-size: 0.9rem;
    }
  }

  @include large-breakpoint {
    .views-row{
      flex: 1 0 calc(25% - 10px);
      box-sizing: border-box;
      //background: #e0ddd5;
      //padding: 10px;
      max-width: 100%;
    }
    p{
      font-size: 0.8rem;
    }
  }

  .sg-team-member-photo{
    width: 100%;
    height: 280px;
    background-size: cover;
    background-position: center;
  }

  .sg-team-member-name{
    color: $sg-black;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 10px;
    text-align: center;
  }
  .sg-team-member-position{
    text-transform: uppercase;
    color: $sg-pink;
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 10px;
  }
  .sg-team-member-bio{
    font-size: 0.8rem;
    padding:10px;
    line-height: normal;
  }
  .sg-team-member-social-media {
      background-color: $sg-yellow-lighter;
      display: flex;
      flex-direction: row;
      justify-content: center;
      span{
        color: $sg-white;
        font-size: 1.4rem;
        padding: 5px;
        ul{
          list-style-type: none;
        }
        li a{
          display: inline-block;
        }
      }
  }
}

/* BLOG FILTER */
.menu--blog-page-menu{
  .menu {
    list-style: none;
    overflow: auto;
    white-space: nowrap;
  }
  .menu-item {
    display: inline-block;
    padding: 0rem 0rem;
    margin: 0rem;
  }

  .menu-item a {
    font-family: $navigation-font-family;
    font-weight: $navigation-font-weight;
    font-size: 0.6rem;
    color: rgba($navigation-item-color, 1);
    text-decoration: none;
    background: rgba($sg-black, 0.2);
    text-align: center;
    padding: 0.3rem 0.4rem;
    text-transform: uppercase;
    border-radius: 4px;
  }

  .menu-item a:hover {
  }

  .menu-item a:focus {
    color: $sg-white;
  }

  .menu-item--active-trail a {
    //background: rgba($sg-black, 1);
    border: 1px solid $sg-white;
  }

  .menu-item a:visited {
    color: $sg-white;
  }

  ul.menu{
    padding: 0rem;
  }

  ul.menu a.is-active {
      color: #fff;
  }
}

/* BLOG TEASER */
.view-blog-page, .view-taxonomy-term{

  .node__title{
    margin: 0;
    margin-bottom: 0.6rem;
    font-size: 1.2rem;
  }

  p{
    font-size: 0.9rem;
    line-height: normal;
  }

  a{
    color: $sg-black;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }

  .sg-teaser-container{
    width: 100%;
    box-sizing: border-box;
    border:1px solid $sg-grey-lighter;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    box-shadow: 1px 1px 2px $sg-grey-lighter;
    padding: 2px;
  }

  .sg-teaser-image{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
  }
  .sg-teaser-content{
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
  }
  .sg-teaser-detailsline{
      text-transform: uppercase;
      color: $sg-pink;
      font-size: 0.7rem;
      margin-bottom: 5px;
  }
  .sg-teaser-timestamp{
    color: $sg-grey;
    font-size: 0.8rem;
    margin-top: 5px;
  }

  @include small-breakpoint {
    .node__title{
      margin: 0;
      margin-bottom: 0.6rem;
      font-size: 1.4rem;
    }

    p{
      font-size: 1rem;
      line-height: normal;
    }
    .sg-teaser-container{
        flex-direction: row;
    }
    .sg-teaser-image{
      flex: none;
      width: 275px;
      height: 250px;
    }
    .sg-teaser-content{
      justify-content: center;
      padding: 1.8rem;
    }
  }

  @include large-breakpoint {
    .node__title{
      margin: 0;
      margin-bottom: 0.6rem;
      font-size: 1.5rem;
    }

    p{
      font-size: 1.1rem;
      line-height: normal;
    }
    .sg-teaser-image{
      flex: none;
      width: 350px;
      height: 275px;
    }
    .sg-teaser-content{
      padding: 3rem;
    }
  }

}

/* ABOUT US ICON LINKS */
.sg-about-icon-deck{
  display: flex;
  justify-content: center;
  .sg-about-icon-single{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
  }
  .sg-about-icon-avatar{
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 32px;
    //border: 1px solid $sg-white;
  }
  a, a:visited {
    text-decoration: none;
  }
  .sg-about-icon-name{
    font-size: 0.6rem;
    line-height: normal;
    text-align: center;
    padding: 0;
    margin: 0;
    color: $sg-white;
    font-weight: bold;
  }
}

/*FULL BLOG */

.sg-article-container{
  .sg-article-image{
    width: 100%;
    height: 100px;
    background-size: cover;
    background-position:center;
    border: 3px solid $sg-white;
    margin-bottom: 30px;
    box-shadow: 1px 1px 3px $sg-grey-lighter;
  }
  .sg-article-content{

  }
  .sg-article-detailsline{
      text-transform: uppercase;
      color: $sg-pink;
      font-size: 0.7rem;
  }
  .sg-article-timestamp{
    color: $sg-grey;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
  }

  @include small-breakpoint {
    .sg-article-image{
      height: 175px;
    }
  }

  @include large-breakpoint {
    .sg-article-image{
      height: 250px;
    }
  }

}

//Contact form

.contact-form{

}
