html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font: $font-style $font-variant $body-font-weight #{$body-font-size}/#{$body-line-height} $body-font;
	font-size: $font-size;
}

body {
  background: $body-background-color;
  color: $text-color;
  font-size: $body-font-size;
  margin: 0px;
}

@include small-breakpoint {

	body{
			font-size: $body-font-size*1.1;
	}
}

@include large-breakpoint {

	body{
			font-size: $body-font-size*1.2;
	}
}
