/* Basic Layout Blocks */

.skip-link{
display: none;
}

.sg-container{

}

/* Header */

.sg-header{
  height: 160px;
  background-color: $sg-purple;
  background-size: cover;
}

.sg-header-topbar{
  height: 20px;
  max-width: 800px;
  background-image: url('../logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
}
.sg-header-links{
  margin-right: $padding;
  margin-left: $padding;
}

.sg-header-main{
  height: 140px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Banner */
.sg-banner-image{
//  height:300px;
  //background-image:url('../images/stars.jpg');
  background-size: cover;
  background-position: center;
}
.sg-banner{
  //height: 300px;
  //background: linear-gradient(90deg, rgba($sg-pink-darker,0.5), rgba($sg-yellow-darker,0.2) 40%, rgba($sg-yellow-darker,0.2) 60%, rgba($sg-blue-darker,0.5));
  background: rgba($sg-pink, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sg-banner-contents{
  text-align: center;
  padding-bottom: $padding;
}

.sg-banner-text{

}

.sg-banner-button{
  padding: 10px;
}

/* Content Area */

.sg-content-container{
  max-width: $medium-width;
  margin: 0 auto;
  padding: $padding;
}

/* Nav Bar Components */
.sg-navbar{
  //max-width: $medium-width;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $sg-purple;
  //padding-right: 1rem;
  //border-top: 1px solid rgba($sg-yellow, 0.8);
  //background: rgba($sg-yellow, 1);
  //text-align: center;
  ul{
    margin: 0rem;
  }
  .region-navigation{
    height: 100%;
  }
  overflow: auto;
white-space: nowrap;
}

.sg-subnav{
  background-color: $sg-pink;
  padding: 2px;
}

.menu--blog-page-menu{
  //.sg-subnav{
    background-color: $sg-pink;
    padding: 2px;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      background-image: linear-gradient(to right, rgba(255,255,255,0), $sg-pink);
      width: 15%;
    }
//  }
}

.sticky {
position: fixed;
width: 100%;
left: 0;
top: 0;
z-index: 100;
border-top: 0;
}

.sg-footer{
  padding: $padding;
  text-align: center;
}

@include small-breakpoint {
  .sg-header{
    height: 225px;
  }
  .sg-header-main{
    height: 200px;
  }
  .sg-banner-contents{
    padding-top: $padding*2;
    padding-bottom: $padding*2;
  }
  .sg-header-topbar{
    height: 25px;
    max-width: 800px;
  }
}

@include large-breakpoint {
  .sg-header{
    height: 250px;
  }
  .sg-header-main{
    height: 225px;
  }
  .sg-banner-contents{
    padding-top: $padding*2.5;
    padding-bottom: $padding*2.5;
  }
}
